* {
  box-sizing: border-box;
}

body {
  background: blue;
}

header {
  height: 100px;
  background-color: white;
  text-align: center;
  font-size: 80px;
}

ul {
  margin: 10px auto;
  width: 600px;
  height: 600px;
  background: red;
}

li {
  width: 196px;
  margin: 2px;
  height: 196px;
  line-height: 196px;
  background: white;
  color: black;
  text-align: center;
  float: left;
  font-size: 150px;
}

.active {
  background-color: grey;
}


footer {
  height: 100px;
  background-color: green;
  clear:both;
}
